SQL/02  Instalacion de Mysql Workbench.pdf
SQL/DER_Limia
SQL/Lista_Limia.pptx
SQL/Idea_Limia.pdf
SQL/Entrega2_Limia.pdf
Backend/Entrega 2/node_modules/.package-lock.json
Backend/Entrega 2/node_modules/fs/package.json
Backend/Entrega 2/node_modules/fs/README.md
Backend/Entrega 3/node_modules/.package-lock.json
Backend/Entrega 3/node_modules/fs/package.json
Backend/Entrega 3/node_modules/fs/README.md
Backend/Segunda integradora/.env
Backend/Pre entrega 2.3/.env
Backend/Tercera pre entrega/.env
Backend/Pre entrega 3.1/.env
Backend/Pre entrega 3/.env
Backend/Pre entrega 3.2/.env
Backend/Tercera integradora/.env
Backend/Pre entrega 3.3/.env
Backend/Pre entrega 3.4/.env
Backend/Cuarta integradora/.env
Rúbrica de evaluación PF.pdf
Backend/2da integradora/.env
Backend/3ra integradora/.env
Backend/4ta integradora/.env
Backend/Proyecto final/.env
